<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
</html>

<div>
    <form action="/" method="GET">
        <p>Логин</p>
        <input name="login" value="">
        <p>Пароль</p>
        <input name="password" value="">
        <p>Сообщение</p>
        <input name="message">
        <button>Отправить</button>
        // <button name ="logs">Логи</button>
        // <button  name ="bd">БД</button>
    </form>
</div>